@import url("@/assets/css/tailwind.css");

@layer components {
    .m {
        @apply w-full h-full flex items-center justify-center;
        span {
            @apply text-5xl text-center;
        }
    }
    input {
        @apply border rounded p-2 focus:outline-none
        focus:ring focus:border-blue-300 transition-colors
        duration-300 dark:bg-gray-800 dark:text-white
        dark:border-gray-600 disabled:opacity-50
        disabled:cursor-not-allowed
    }
}